html {
  text-align: center;
  justify-content: center;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

img {
  border-radius: 75%;
}

.form-control {
  width: 60%;
  margin: auto;
}

.btn {
  width: 60%;
  margin-top: 5px;
  padding: 10px;
}

#output {
  font-family: 'Space Mono', monospace;
}

#output-nan {
  color: red;
}